<p id="notice"><%= notice %></p>

<p>
  <strong>Browser:</strong>
  <%= @session.browser %>
</p>

<p>
  <strong>Type:</strong>
  <%= @session.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @session.name %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
