<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<div>
  <%= raw @task.content %>
</div>
<%= hidden_field_tag 'targetLong', @task.longitude %>
<%= hidden_field_tag 'targetLat' ,@task.latitude%>
<div class="compasDiv">
  <table id='compas' class="reslutTable">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>N</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="arrow arrow-left-up">&nbsp;</div>
      </td>
      <td class="arrow arrow-up">&nbsp;</td>
      <td>
        <div class="arrow arrow-right-up">&nbsp;</div>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>E</td>
      <td class="arrow arrow-left">&nbsp;</td>
      <td id="dstance">12m</td>
      <td class="arrow arrow-right">&nbsp;</td>
      <td>W</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="arrow arrow-left-down">&nbsp;</div>
      </td>
      <td class="arrow arrow-down">&nbsp;</td>
      <td>
        <div class="arrow arrow-right-down">&nbsp;</div>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>S</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <div>
    <%= form_tag '', :method => 'post' do %>
        <%= hidden_field_tag 'lgt' %>
        <%= hidden_field_tag 'log' %>
        <%= hidden_field_tag 'acr' %>
        <%= submit_tag "Odpowiedz", disabled:true, id: 'sbmt' %>
    <% end %>
  </div>
  <script>gpsSupport()</script>
</div>
