<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Title</th>
      <th>Content</th>
      <th>Type</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Check</th>
      <th>Last</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.game.desc %></td>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.tp %></td>
        <td><%= task.latitude %></td>
        <td><%= task.longitude %></td>
        <td><%= task.check %></td>
        <td><%= task.last %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
