<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.tp %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @task.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @task.longitude %>
</p>

<p>
  <strong>Check:</strong>
  <%= @task.check %>
</p>

<p>
  <strong>Last:</strong>
  <%= @task.last %>
</p>
<% if @task.last  %>
    <%= link_to 'Następne', gameend_path(@task.game) %>
<% else%>
    <%= link_to 'Następne', @task.next %>
<% end %>
