<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <h1>
  <%= @task.title %>
  </h1>
</p>
<div>
  <%= raw @task.content %>
</div>

<%= form_tag '', :method => 'post' do %>
<%= text_field_tag 'answ' %>
<%= submit_tag "Odpowiedz", id: 'sbmt' %>
<% end %>
