<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<p id="gpsInf">Platforma wymaga dostępu do pozycji GPS</p>

  <div class="welcome">
    <h2> Witam w UbeGe</h2>

    <p>Platformie gier miejskich</p>

    <%= form_tag games_path, :method => "post"  do %>
        <%= hidden_field_tag 'lgt' %>
        <%= hidden_field_tag 'log' %>
        <%= hidden_field_tag 'acr' %>
        <p>Graj jako:
        <%= text_field_tag 'nick' %>
        </p>
        <%= submit_tag "Wyświetl gry", id: 'sbmt', disabled: true, class: "btn btn-primary" %>
    <% end %>
    <br>
  </div>
<script>
    wlmcjs();
</script>