<style>
    th, td {
        text-align: right;
    }

    body {
        margin: 15px;
    }

    .resultaDiv {
        text-align: left;
    }

    .reslutTable {
        width: 150px;
        height: 150px;
    }

    .reslutTable th, td {
        text-align: center;
    }

    .notActive {
        border-color: #ffffff !important;
    }

    .arrow {
        width: 0;
        height: 0;
        display: block;
    }

    .arrow-up {
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 30px solid green;
    }

    .arrow-down {
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid green;
    }

    .arrow-right {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid green;
    }

    .arrow-left {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 30px solid green;
    }

    .arrow-left-up {
        border-style: solid;
        border-width: 30px 30px 0 0;
        border-color: green transparent transparent transparent;
    }

    .arrow-right-up {
        border-style: solid;
        border-width: 30px 0px 0px 30px;
        border-color: green transparent transparent transparent;
    }

    .arrow-left-down {
        border-style: solid;
        border-width: 0px 30px 30px 0;
        border-color: transparent transparent green transparent;
    }

    .arrow-right-down {
        border-style: solid;
        border-width: 0px 0px 30px 30px;
        border-color: transparent transparent green transparent;
    }
</style>
<h1>Strona testowa</h1>
<div class="resultaDiv">
  <table id='compas' class="reslutTable">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>N</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="arrow arrow-left-up">&nbsp;</div>
      </td>
      <td class="arrow arrow-up">&nbsp;</td>
      <td>
        <div class="arrow arrow-right-up">&nbsp;</div>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>E</td>
      <td class="arrow arrow-left">&nbsp;</td>
      <td id="dstance">12m</td>
      <td class="arrow arrow-right">&nbsp;</td>
      <td>W</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="arrow arrow-left-down">&nbsp;</div>
      </td>
      <td class="arrow arrow-down">&nbsp;</td>
      <td>
        <div class="arrow arrow-right-down">&nbsp;</div>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>S</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<div>
  <section class="">
    <select id="optionSelect">
      <option value="-1" selected>Wybierz gre</option>
      <% @games.each do |game| %>
          <option value="<%= "#{game.tasks.first.latitude} : #{game.tasks.first.longitude}" %>"><%= game.name %></option>
      <% end %>
    </select>
    <br>
    <textarea id="txtResult" cols="50" rows="3"></textarea>
  </section>

  <section class="">
    <button id="stpGPS" disabled class="btn btn-danger">Stop 2GPS</button>
    <button id="strtGPS" disabled class="btn btn-success">Start 2GPS</button>
    <div style="margin-top: 15px">
      <span id="gpsPresent" class="btn btn-danger"> GPS</span>
      <span id="acsPresent" class="btn btn-danger"> Akcelometr</span>
    </div>
    <h2>Aktualne odczyty</h2>
    <table>
      <tr>
        <th>Longitude:</th>
        <td id="longitude"></td>
      </tr>
      <tr>
        <th>Latitude:</th>
        <td id="latitude"></td>
      </tr>
      <tr>
        <th>Kompas:</th>
        <td id="compsV"></td>
      </tr>
      <tr>
        <th>Dokładność:</th>
        <td id="accuracy"></td>
      </tr>
      <tr>
        <th>Kierunek:</th>
        <td id="heading"></td>
      </tr>
      <tr>
        <th>Prędkość:</th>
        <td id="speed"></td>
      </tr>
      <tr>
        <th>Wysokość:</th>
        <td id="altitude"></td>
      </tr>
      <tr>
        <th>Dokładność wys.:</th>
        <td id="altitudeAccuracy"></td>
      </tr>
      <tr>
        <th>Czas odczytu:</th>
        <td id="time"></td>
      </tr>
      <tr>
        <th>Frekwencja:</th>
        <td id="tfrq"></td>
      </tr>
      <tr>
        <th>Ilość pomiarów:</th>
        <td id="count"></td>
      </tr>
    </table>
  </section>
</div>
<br>

<div style="width: 90%"><b>IP klienta</b> <%= raw @ip %>
  <b> Przeglądarka: </b> <%= raw @userAgent %>
</div>
<script>
    gpsTest();
</script>