<h1>
Gratuluje zakończyłeś gre z wynikiem:<%= @tsks.sum(:points)%>
</h1>
<table>
  <thead>
  <tr>
    <th>Nazwa Zadania</th>
    <th>Wynik</th>
  </tr>
  </thead>
  <tbody>
  <% @tsks.each do |game| %>
      <tr>
        <td><%= game.task.title %></td>
        <td><%= game.points %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag games_path, :method => "post"  do %>
    <%= hidden_field_tag 'lgt' %>
    <%= hidden_field_tag 'log' %>
    <%= hidden_field_tag 'acr' %>
    <%= hidden_field_tag 'nick', @done_game.session.name %>
    <%= submit_tag "Zagra w inną gry", id: 'sbmt',  class: "btn btn-primary" %>
<% end %>
<script>
    wlmcjs();
</script>
