<p id="notice"><%= notice %></p>
<h1>Wybierz jedną z gier</h1>
<table>
  <thead>
  <tr>
    <th>Nazwa gry</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= link_to 'Graj', game.tasks.first %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>