.tasks{
  th, td {
    text-align: right;
  }

  body {
    margin: 15px;
  }

  .resultaDiv {
    text-align: left;
  }

  .reslutTable {
    width: 150px;
    height: 150px;
  }

  .reslutTable th, td {
    text-align: center;
  }

  .notActive {
    border-color: #ffffff !important;
  }

  .arrow {
    width: 0;
    height: 0;
    display: block;
  }

  .arrow-up {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid green;
  }

  .arrow-down {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid green;
  }

  .arrow-right {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid green;
  }

  .arrow-left {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid green;
  }

  .arrow-left-up {
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: green transparent transparent transparent;
  }

  .arrow-right-up {
    border-style: solid;
    border-width: 30px 0px 0px 30px;
    border-color: green transparent transparent transparent;
  }

  .arrow-left-down {
    border-style: solid;
    border-width: 0px 30px 30px 0;
    border-color: transparent transparent green transparent;
  }

  .arrow-right-down {
    border-style: solid;
    border-width: 0px 0px 30px 30px;
    border-color: transparent transparent green transparent;
  }
}