<%= form_for(@done_task) do |f| %>
  <% if @done_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@done_task.errors.count, "error") %> prohibited this done_task from being saved:</h2>

      <ul>
      <% @done_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :donegame_id %><br>
    <%= f.text_field :donegame_id %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br>
    <%= f.text_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :session_id %><br>
    <%= f.text_field :session_id %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.number_field :result %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br>
    <%= f.datetime_select :endtime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
