<h1>Listing done_tasks</h1>

<table>
  <thead>
    <tr>
      <th>Donegame</th>
      <th>Task</th>
      <th>Session</th>
      <th>Result</th>
      <th>Endtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @done_tasks.each do |done_task| %>
      <tr>
        <td><%= done_task.donegame %></td>
        <td><%= done_task.task %></td>
        <td><%= done_task.session %></td>
        <td><%= done_task.result %></td>
        <td><%= done_task.endtime %></td>
        <td><%= link_to 'Show', done_task %></td>
        <td><%= link_to 'Edit', edit_done_task_path(done_task) %></td>
        <td><%= link_to 'Destroy', done_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Done task', new_done_task_path %>
