<p id="notice"><%= notice %></p>

<p>
  <strong>Donegame:</strong>
  <%= @done_task.donegame %>
</p>

<p>
  <strong>Task:</strong>
  <%= @done_task.task %>
</p>

<p>
  <strong>Session:</strong>
  <%= @done_task.session %>
</p>

<p>
  <strong>Result:</strong>
  <%= @done_task.result %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @done_task.endtime %>
</p>

<%= link_to 'Edit', edit_done_task_path(@done_task) %> |
<%= link_to 'Back', done_tasks_path %>
