<%= form_for(@done_game) do |f| %>
  <% if @done_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@done_game.errors.count, "error") %> prohibited this done_game from being saved:</h2>

      <ul>
      <% @done_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :result %><br>
    <%= f.number_field :result %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br>
    <%= f.datetime_select :endtime %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :session_id %><br>
    <%= f.text_field :session_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
