<h1>Listing done_games</h1>

<table>
  <thead>
    <tr>
      <th>Result</th>
      <th>Endtime</th>
      <th>Game</th>
      <th>Session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @done_games.each do |done_game| %>
      <tr>
        <td><%= done_game.result %></td>
        <td><%= done_game.endtime %></td>
        <td><%= done_game.game %></td>
        <td><%= done_game.session %></td>
        <td><%= link_to 'Show', done_game %></td>
        <td><%= link_to 'Edit', edit_done_game_path(done_game) %></td>
        <td><%= link_to 'Destroy', done_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Done game', new_done_game_path %>
