<p id="notice"><%= notice %></p>

<p>
  <strong>Result:</strong>
  <%= @done_game.result %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @done_game.endtime %>
</p>

<p>
  <strong>Game:</strong>
  <%= @done_game.game %>
</p>

<p>
  <strong>Session:</strong>
  <%= @done_game.session %>
</p>

<%= link_to 'Edit', edit_done_game_path(@done_game) %> |
<%= link_to 'Back', done_games_path %>
