<!DOCTYPE html>
<html>
<head>
  <title>UbG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="<%= controller.controller_name %>">
<div class="container-fluid">
<%= yield %>
</div>
</body>
</html>
